@mixin Header(
  $className: 'header',
  $height: 96px,
  $background-color: white,
) {
  .#{$className}-container {
    background-color: $background-color;

    .row {
      height: $height;
      align-items: center;

      .col-md-10 {
        height: 100%;
      }
    }

    .or-split {
      margin: 0 24px;
      color: #666666;
    }

    button.login-button {
      font-family: 'Inter';
    }

    .ava-ph {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: gray;
      float: right;
    }

    a.hoverable-link {
      font-family: 'Inter';
    }

    .login-wrapper {
      text-align: right;
    }

    &.mobile {
      &.auth {
        .row { height: 158px; }
      }
      &.not-auth {
        .row { height: auto; padding-bottom: 16px; }
      }
      .logo-wrapper { margin-top: 24px; }

      .ava-ph {
        width: 96px;
        height: 96px;
      }

      .tabs-wrapper {
        margin: 8px 0;
      }
    }
  }

  @include TabButton();
  @include WrappedButton($className: 'login-button', $width: 123px);
  @include HoverableLink();

  @include HeaderTabs();
}