.idea/
.vscode/
.DS_Store
front/node_modules/
front/build
front/*.tgz
*.tgz
front/my-app*
my-app*
front/template/src/__tests__/__snapshots__/
front/lerna-debug.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.changelog
front/.npm/
.npm/

# Back.

/back/urber/.bundle
/back/urber/log/*
/back/urber/tmp/*
!/back/urber/log/.keep
!/back/urber/tmp/.keep
/back/urber/storage/*
!/back/urber/storage/.keep
.byebug_history
/back/urber/config/master.key
/back/urber/config/env.yml
