@mixin Card(
  $columnClass: 'card-column',
  $className: 'card',
) {
  .#{$columnClass} {
    padding: 0;

    .#{$className} {
      width: 100%;
      border: 1px solid #E0E0E0;
      border-radius: 4px;

      @include CardTitle();
      @include CardDescription();
      @include CardPhoto();
      @include CardDate();
      @include CardPosition();
      @include CardFooter();
    }
  }
}
