@mixin CustomCheckbox(
  $color__text: #1F1F1F,
  $checkbox__size: 20px,
  $switch__size: $checkbox__size,
  $color__back: #fff,
  $color__back-high: #1F1F1F,
  $checkbox__border__size: 2px,
  $checkbox__border__color: #E5E5E5,
  $checkbox__checkmark__color: #1F1F1F,
  $checkbox__label__color: #26CB5C,
  $checkbox__label__color--disabled: $color__text
){
  .checkbox {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;

    &:hover {
      .checkbox__label {
        color: $color__back-high;
      }

      .checkbox__input {
        border-color: $checkbox__label__color;
      }
    }

    &__label {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-left: 8px;
      color: $color__text;
      font-size: 14px;
      cursor: pointer;
      transition: color .3s linear;
    }

    &__input {
      position: relative;
      flex-shrink: 0;
      width: $checkbox__size;
      height: $checkbox__size;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      background: $color__back;
      cursor: pointer;
      border: $checkbox__border__size solid $checkbox__border__color;
      border-radius: 2px;
      transition: border-color .3s linear;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        bottom: 50%;
        left: 50%;
        transition: all .1s;
        background: $checkbox__label__color;
      }

      &:checked {
        border-color: $checkbox__label__color;
        & + .checkbox__label {
          color: $checkbox__checkmark__color;
        }

        &::before {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
