@mixin CardDate(
  $className: 'card-date',
  $font-size: 14px,
  $margin: 0 0 0px 32px,
) {
  .#{$className} {
    display: inline-block;
    margin: $margin;
    font-size: $font-size;
    vertical-align: baseline;

    img {
      margin-right: 6px;
    }
  }
}