@mixin CardDescription(
  $className: 'card-description',
  $font-size: 14px,
) {
  .#{$className} {
    font-size: $font-size;
    margin: 0 24px 16px 32px;

    a.read-more-link {
      color: #26CB5C;
      
      &:hover {
        color: #37CF69;
        text-decoration: underline;
      }
    }
  }
}