@mixin HoverableLink(
  $className: 'hoverable-link',
  $color: #fff,
  $hover-color: #fff,
  $font-size: 16px,
) {
  a.#{$className} {
    color: $color !important;
    font-size: $font-size;

    &:hover {
      cursor: pointer;
      color: $hover-color !important;
    }
  }
}
