@import "src/blocks/Header/Header.scss";
@import "src/components/TabButton/TabButton.scss";
@import "src/components/WrappedButton/WrappedButton.scss";
@import "src/components/HoverableLink/HoverableLink.scss";
@import "src/components/HeaderTabs/HeaderTabs.scss";
@import "src/components/CardWrapper/CardWrapper.scss";
@import "src/blocks/Card/Card.scss";
@import "src/components/AuthorizationPopup/AuthorizationPopup.scss";
@import "src/components/CustomCheckbox/CustomCheckbox.scss";

@import "src/assets/fonts/Inter/inter.scss";

@include Header();
@include CardWrapper();
@include Card();
@include AuthorizationPopup();
@include CustomCheckbox();

body {
  background-color: #F0F0F0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal-backdrop.show {
  opacity: 0;
}
