@mixin TabButton(
  $className: 'tab-button',
  $background-color: transparent,
) {
  .#{$className} {
    display: inline-flex;
    height: 100%;
    align-items: center;

    span {
      font-family: 'Inter';
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      opacity: 0.82;
      transition: opacity .1s linear;

      &:hover {
        opacity: 1;
      }

      line-height: 40px;
      letter-spacing: 0.04em;
    }

    &.selected {
      span {
        color: #FFFFFF;
        opacity: 1;
      }
    }
  }
}