@mixin TabButton(
  $className: 'tab-button',
  $background-color: transparent,
) {
  .tab-button {
    display: inline-flex;
    height: 100%;
    align-items: center;

    span {
      font-family: 'Inter';
      font-size: 16px;
      font-weight: bold;
      color: #666666;

      line-height: 40px;
      letter-spacing: 0.04em;
    }

    &.selected {
      span {
        color: #1C1C1C;
      }
    }

    &:not(:first-of-type) {
      margin-left: 24px;
    }
  }
}