@mixin WrappedButton(
  $className: 'wrapped-button',
  $width: 134px,
  $height: 51px,
  $background-color: transparent,
  $border-color: black,
  $color: black,
  $hover-color: white,
  $hover-background-color: $border-color,
  $font-size: 16px,
) {
  button.#{$className} {
    background-color: $background-color;
    border: 2px solid $border-color;
    color: $color;

    width: $width;
    height: $height;

    font-size: 16px;

    &:hover {
      background-color: $hover-background-color;
      border-color: $border-color;
      color: $hover-color;
    }
  }
}
