@mixin WrappedButton(
  $className: 'wrapped-button',
  $width: 134px,
  $height: 51px,
  $background-color: transparent,
  $border-color: white,
  $color: white,
  $hover-color: white,
  $hover-background-color: transparent,
  $font-size: 16px,
) {
  button.#{$className} {
    background-color: $background-color;
    border: 2px solid $border-color;
    color: $color;

    opacity: 0.82;

    width: $width;
    height: $height;

    font-size: 16px;

    &:active {
      background-color: $hover-background-color !important;
      border-color: $border-color !important;
      color: $color !important;
    }

    &:focus {
      box-shadow: 0 !important;
    }

    &:hover {
      background-color: $hover-background-color;
      border-color: $border-color;
      color: $hover-color;
      opacity: 1;
    }
  }
}
