@mixin CardHelpButton(
  $className: 'help-button',
  $background-color: #26CB5C,
  $color: white,
  $margin: 27px 0 24px 32px,
) {
  .#{$className}.btn {
    width: calc(100% - 32px);
    height: 40px;
    background-color: $background-color;
    color: $color;
    margin: $margin;
    outline: none;
    font-family: 'Inter';
    font-weight: 600;
    border: none !important;

    opacity: 0.82;
    transition: opacity .1s linear;

    &:hover {
      opacity: 1;
    }
  }
}